@tailwind base;
@tailwind components;
@tailwind utilities;



* {
  scroll-behavior: smooth;
}

@keyframes myAnim {
	0% {
		opacity: 0;
		transform: translateX(50px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
.ani{
  animation: myAnim 0.3s ease-in-out 0s 1 normal forwards;
}
